<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
        <ul>
            <li>
            <a href="https://www.google.com">
                Learn more
            </a>
            </li>             
        </ul>
        </nav>
        <div class="copyright float-right">
        &copy; @(DateTime.Now.Year), made with <i class="material-icons">favorite</i> by
        <a href="https://informatics.wustl.edu" target="_blank">WUSTL - I2 - Application Development</a>.
        </div>
    </div>
</footer>