<div class="sidebar" data-color="azure" data-background-color="white">
    <div class="logo">
    <a href="https://informatics.wustl.edu" class="simple-text logo-normal">
        {{site.title}}
    </a>
    </div>
    <div class="sidebar-wrapper">
    <ul class="nav">
        <li class="nav-item active  ">
        <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Home</p>
        </a>
        </li>
    </ul>
    </div>
</div>